#explore{
    background-color:aliceblue;
}
#ready{
   background-color:#ADD8E6;
   
   
 
}
/* #ask-part{
    background-color: whitesmoke;
} */
#meet-part{
    background-color:whitesmoke;
}
#navigation{
    background-color: whitesmoke;
}